@charset "UTF-8";
html{font-size: 100%;}
body{
  line-height: 1.7;
color: #432;
}
a {text-decoration: none;}
img {max-width: 100%;}

.logo {width: 210px;
margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;

}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}

