@charset "UTF-8";
html{font-size: 100%;}
body{
  line-height: 1.7;
  color: #443322;
}
a {text-decoration: none;}
img {max-width: 100%;}

.logo {width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;

}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #eeebe7;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.home-content {
  text-align: center;
  margin-top: 10px;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.page-title {
  font-size: 3rem;
  font-family: "Arial Black", serif;
  text-transform: uppercase;
  font-weight: normal;
}
.button {
  font-size: 1.375rem;
  background: #004add;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../img/fujiko1122A0345_TP_Vムーン.jpg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}
.page-header {
  background-image: url(../img/ムーン2.jpg);
  height: 270px;
  margin-bottom: 40px;

}
.page-title {
  text-align: center;
}
footer {
  background: black;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: aliceblue;
  font-size: 0.875rem;


}
