@charset "UTF-8";
html{font-size: 100%;}
body{
  line-height: 1.7;
  color: #443322;
}
a {text-decoration: none;}
img {max-width: 100%;}

.logo {width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;

}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #eeebe7;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.home-content {
  text-align: center;
  margin-top: 10px;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.page-title {
  font-size: 3rem;
  font-family: "Arial Black", serif;
  text-transform: uppercase;
  font-weight: normal;
}
.button {
  font-size: 1.375rem;
  background: #004add;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../img/fujiko1122A0345_TP_Vムーン.jpg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}
.page-header {
  background-image: url(../img/ムーン2.jpg);
  height: 270px;
  margin-bottom: 40px;

}
.page-title {
  text-align: center;
}
footer {
  background: black;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: aliceblue;
  font-size: 0.875rem;
}
article {width: 60%;
order: 2;
}
aside {width: 22%;
order: 3;
}
.ad {order: 1;}
.news-contents {
  display: flex;
  justify-content:  space-between;
margin-bottom: 50px;
}
.post-info {
  position: relative;
  padding-top: 4px;
margin-bottom: 40px;
}
.post-date {
  background: #7496db;
border-radius: 50%;
color: white;
width: 100px;
height: 100px;
font-size: 1.625rem;
text-align: center;
  position: absolute;
  top: 0;
padding-top: 10px;
}
.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255,255,255,.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.post-title {
  font-family: revert;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat {margin-left: 120px}
article img {margin-bottom: 20px}
article p{margin-bottom: 1rem}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #3181c6 solid;
  font-weight: normal;
}
aside p {
  padding: 12px 10px;
}
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li {
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #7496db;
}
@media (max-width: 600px) {
  h1{color: #3181c6}
.page-header {
  flex-direction: column;
  align-items: center;
}

}
@media (max-width: 600px) {
  .page-title {font-size: 2.5rem}
  .news-contents {flex-direction: column}
  article, aside{width: 100%}

  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {margin: 0 20px}
  .home-content {margin-top: 20px}

#news .page-title {margin-top: 30px}
aside {margin-top: 60px}
.post-info {margin-bottom: 30px}
.post-date {
  width: 70px;
  height: 70px;
font-size: 1rem;
}
.post-date span {
  font-size: 0.875rem;
  padding-top: 2px;
}
.post-title {font-size: 1.375rem}
.post-ca{
  font-size: 0.875rem;
  margin-top: 10px;
}
.post-title,
.post-cat {margin-left: 80px}

}
