@charset "UTF-8";
html {font-size: 100%;}
body{
  line-height: 1.7;
  color: black;
}
a{font-family: "游明朝 Demibold", serif}
a {text-decoration: none;}
a{font-weight: 900;}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li{margin-left: 36px}
.main-nav a{color: black}
.main-nav a:hover {color: blueviolet}
.material-icons{margin-left: 36px}
.material-icons:hover {color: blueviolet}

.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 2500px;
  margin: 0 auto;
padding: 0 4%;
}

h1{font-size: 500%;
margin-top: 5px;
}
.page-header{border-bottom: 2px solid #cccccc}
.country-name1{border-right: 1px solid#cccccc}
.country-name1{padding-right: 20px}
li{border-right: 1px solid#cccccc}
li{padding-right: 20px}

.second-main{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.second-main div{margin-left: 36px}
.second-main{font-family: Constantia, serif}
.second-main{font-weight: 900;}
.second-main div:hover {color: blueviolet}
.second-main{border-bottom: 2px solid #000000}
.basic1{padding-left: 250px}
.basic1{padding-right: 1300px}
.news{font-size: 30px}
.news{border-top:8px solid black}
.border {border-style: solid
}
footer{padding-bottom: 300px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3,1fr);
margin-top: 6%;
margin-bottom: 50px;
}
.second-title {
display: flex;
  font-size: 3.15rem;
height: 20%;
  list-style: none;
  text-transform: uppercase;
  padding-left: 600px;
}

.edition {font-size: 2.15rem;
margin-top: 15px;
}

.country-name {
  width: 110px;
font-size:35px;
}

.icon {display: flex;
  height: 20%;
padding-left: 280px;
}
.third-title {
  font-size: 3.10rem;
  padding-left: 245px;
  margin-bottom: 0;
  height: 60px;
}
h4 {
  font-size: 1.15rem;
padding-left: 410px;
 margin-top: 0;
  margin-bottom: 0;
}
.one {
  margin: 10px;
  padding: 10px;
}
.choice {
display: flex;
  font-weight: bolder;
font-size: 20px;
  padding-left: 210px;
}



@media (max-width: 600px){
.news{font-size: 100%}
.news{border-top:8px solid black}
.basic1{padding-left: 150px}
.basic1{padding-right: 30px}
}

